
<h1 class="text-center">DevMatch Community</h1>
<p class="text-center">Welcome to the DevMatch community. users must fill out a profile in order to be visible in the community.</p>
<% @users.each do |user| %>
  <%= user.email %><br/>
<% end %>


<%# <%= @users.first.profile.inspect %>